@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+NO:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: #00BFAE;
}

header a img {
    margin-right: 2em;
}

nav {
    width: 100%;
    padding: 0.2em 0;
    margin-right: 15px;
}

.navConfig {
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    transition: 0.3s;
    text-align: center;
    display: flex;
    padding: 1em 1em;
}

.navConfig:hover {
    color: #607D8B;
    transition: 0.3s;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 1em;
}

.hrMenu {
    border-color: #FFFFFF;
}

#menu2 {
    width: 55%;
}

#menu2 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

#menu2 ul li{
    width: 35%;
}

#menu2 ul li a{
    display: block;
}

#linkRegister {
    background-color: #607D8B;
    color: #ffffff;
    border-radius: 1em;
}

#linkRegister:hover{
    background-color: #FFFFFF;
    color: #607D8B;
}

body {
    overflow-x: hidden;
}

/*Section Inicio da página (Apresentação)*/

#presentation {
    background-color: #E0E0E0;
    padding: 6% 0 8%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#presentation section {
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
    border-radius: 0.4em;
}

#imgPresentation img {
    width: 100%;
    border-radius: 0.4em;
}

#text1 {
    color: #00BFAE;
    font-size: 2.8em;
    padding: 1em 0.5em 1em;
    text-align: center;
}

/*Section Sobre*/

#gymtriInfo {
    background-color: #00BFAE;
    padding-bottom: 4em;
}

#infoBlock h2 {
    color: #FFFFFF;
}

#gymtriInfo p {
    width: auto;
    color: white;
    font-size: 1.3em;
    text-align: center;
    margin: 0 auto;
    padding: 0em 1em 1em;
}

/*Serviços oferecidos*/

#offer {
    background-color: #E0E0E0;
    padding: 4%;
    height: auto;
}

#offer320px {
    display: none;
}

.blockOffer{
    display: grid;
    grid-template-columns: 50% 50%;
    width: auto;
    margin-bottom: 4em;
}

.titleContainer h2 {
    color: #00BFAE;
    text-align: center;
    padding-top: 1em;
    font-size: 38px;
    margin-bottom: 1.3em;
}

.imgItem img {
    width: 100%;
    max-width: 90%;
    border-radius: 5%;
    margin: 1em;
}

.textItem h3 {
    color: #00BFAE;
    font-size: 2.5em;
    margin-bottom: 5%;
}

.textItem {
    color: #00BFAE;
    text-align: left;
    font-size: 1.2em;
    padding-top: 2%;
    opacity: 0;
    filter: blur(10px);
    transition: all 1s;
    transform: translateX(-100%);
}

.textItem p {
    width: auto;
}

.show {
    opacity: 1;
    transition: all 1s;
    filter: blur(0);
    transform: translateX(0);
}

 /*Section vantagens*/

 #blockAdvantage320px {
    display: none;
}

#blockAdvantage {
    background-color: #00BFAE;
    padding-bottom: 4em;
}

#blockAdvantage h2 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 1em;
    font-size: 38px;
    margin-bottom: 1.3em;
}

#blockImg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em;
}

#blockImg img {
    width: 70px;
}

#descripBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blockAdv {
    width: 250px;
    height: auto;
    padding: 0.5em;
    border: 2px solid #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1em;
}

.titleAdv {
    text-align: center;
    margin-bottom: 0.8em;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 600;
}

.blockAdv p {
    color: #FFFFFF;
    font-size: 1.3em;
}

/*Section Planos*/

#plansValueContainer {
    background-color: #E0E0E0;
}

#blockValue {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding-bottom: 8%;
}

.valueContainer {
    background-color: #00BFAE;
    height: 550px;
    width: 260px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valueContainer:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 1px #000000;
}

#free {
    color: #FFFFFF;
}

#freeText {
    font-size: 2.2em;
    margin-bottom: 10%;
}

.textPlans {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.textPlans li {
    margin-bottom: 1em;
    width: 50%;
}

.valueContainer h4 {
    color: #FFFFFF;
    font-size: 2em;
    padding-top: 1em;
    margin-bottom: 20%;
}

.valuePlans {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 2.5em;
    text-align: center;
}

#blockValue p {
    color: white;
    width: 35%;
    text-align: center;
    padding-bottom: 1em;
}

#btnPlans {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 4em;
}

#btnPlans button {
    font-size: 1.4em;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #00BFAE;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #607D8B;
}

#btnPlans button:hover {
    color: #FFFFFF;
    background-color: #607D8B;
    cursor: pointer;
}


/*Footer*/

footer {
    background-color: #00BFAE;
    height: auto;
}

#footerImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footerImg img {
    width: 15%;
    display: flex;
    margin: 3em 0;
}

footer hr {
    border-color: white;
    margin: 2em 5em;
}

#footerInfos {
    background-color: #00BFAE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blockFooter {
    width: 18%;
    margin: 2em 8em;
}

.blockFooter h3 {
    color: #FFFFFF;
    margin-bottom: 3em;
}

.blockFooter li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5em;
}

.blockFooter li a {
    text-decoration: none;
    color: white;
}

.blockFooter ul li img {
    width: 8%;
    margin-right: 0.5em;
}

.blockFooter ul li a:hover {
    color: #607D8B;
    transition: 0.3s;
}

/*Config menu hamburguer*/

#menuHamburguer {
    display: none;
}

#menuHamb {
    display: none;
}


@media (max-width: 320px) {
    * {
        overflow-x: hidden;
    }

    header {
        padding: 10px;
    }

    #menu {
        display: none;
    }

    #menu2{
        display: none;
    }

    /* Checkbox invisível */
    #menuHamburguer {
        position: absolute;
        opacity: 0;
    }

    /* Ícone do Menu Hambúrguer */
    .menuBtn {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
    }

    .menuBtn span {
        width: 30px;
        height: 4px;
        background-color: #FFFFFF;
        margin: 5px 0;
        transition: 0.3s;
        border-radius: 30px;
    }

    /* Estilizando o menu */
    #menuHamb {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        background-color: #00BFAE;
        padding-top: 60px;
        transition: left 0.3s ease-in-out;
    }

    #menuHamb ul {
        list-style: none;
        text-align: center;
    }

    #menuHamb ul li {
        padding: 10px 0;
    }

    #menuHamb ul li a {
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
    }

    /* O menu será exibido quando o checkbox for marcado */
    #menuHamburguer:checked+.menuBtn+#menuHamb {
        left: 0 !important;
        display: block !important;
    }

    /* Efeito no ícone do menu */
    #menuHamburguer:checked+.menuBtn span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    #menuHamburguer:checked+.menuBtn span:nth-child(2) {
        opacity: 0;
    }

    #menuHamburguer:checked+.menuBtn span:nth-child(3) {
        transform: rotate(-45deg) translate(11px, -11px);
    }

    /*Section Inicio da página (Apresentação)*/
    #presentation {
        padding: 6% 0 8%;
        grid-template-columns: 100%;
    }

    #presentation section {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #imgPresentation img {
        display: none;
    }

    #text1 {
        font-size: 1.8em;
        padding: 1em 0.5em 1em;
    }

    /*Section Sobre*/
    #gymtriInfo {
        background-color: #00bfafc7;
        padding: 1em;
    }

    #infoBlock h2 {
        color: #FFFFFF;
        font-size: 1.5em;
    }

    #gymtriInfo p {
        width: auto;
        color: white;
        font-size: 1em;
        text-align: center;
    }

    /*Section Serviços oferecidos*/
    #offer {
        display: none;
    }

    #offer320px {
        display: block;
        padding: 5%;
        overflow: hidden;
    }

    #offer320px section {
        height: auto;
    }

    #offerGrid320px {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .imgItem320px img {
        width: 100%;
        border-radius: 5%;
    }

    .textItem320px h3 {
        font-size: 1.8em;
        color: #00BFAE;
        margin: 5% auto;
        text-align: center;
    }

    .textItem320px p {
        font-size: 1em;
        color: #00BFAE;
        margin: 5% auto;
        padding: 1%;

    }

    .textItem320px {
        opacity: 0;
        filter: blur(10px);
        transition: all 1s;
        transform: translateX(-100%);
    }

    .show {
        opacity: 1;
        transition: all 1s;
        filter: blur(0);
        transform: translateX(0);
    }

    /*Section vantagens*/
    #blockAdvantage {
        display: none;
    }

    #blockAdvantage320px {
        display: block;
    }

    #blockAdvantage320px {
        background-color: #00BFAE;
    }

    #blockAdvantage320px h2 {
        text-align: center;
        font-size: 2em;
        color: #FFFFFF;
    }

    .blockImg320px {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 1em;
    }

    .blockImg320px {
        width: 85px;
        margin: 0 30%;
        padding-bottom: 1em;
    }

    #descripBlock320px {
        padding: 0 10%;
        margin-bottom: 10%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    /*Section Planos*/
    .blockAdv {
        margin-bottom: 4em;
    }

    .titleAdv {
        font-size: 1.5em;
    }

    .blockAdv p {
        font-size: 1em;
    }

    #blockValue {
        padding-bottom: 8%;
    }

    .titleContainer h2 {
        font-size: 1.8em;
    }

    .valueContainer {
        margin-bottom: 6em;
    }

    .valueContainer:hover {
        box-shadow: 0px 0px 8px 1px #000000;
    }

    #freeText {
        font-size: 1.4em;
        margin-bottom: 1em;
    }

    .textPlans li {
        width: 50%;
    }

    .valueContainer h4 {
        font-size: 1.8em;
        margin-bottom: 1em;
    }

    .valuePlans {
        font-size: 2.4em;
        text-align: center;
    }

    #blockValue p {
        color: white;
        text-align: center;
        padding-bottom: 3em;
    }

    /*Footer*/

    footer {
        background-color: #00BFAE;
        height: auto;
    }

    #footerImg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #footerImg img {
        width: 50%;
        display: flex;
    }

    footer hr {
        border-color: white;
        margin: 1em 2em;
    }

    #footerInfos {
        display: block;
        background-color: #00BFAE;
    }

    .blockFooter {
        margin: 2em 2em;
        width: 80%;
    }

    .blockFooter h3 {
        font-size: 1.5em;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 1em;
    }

    .blockFooter li {
        display: block;
        text-align: center;
        margin-bottom: 0.8em;
    }

    .blockFooter li a {
        color: #FFFFFF;
        text-decoration: none;
    }

    .blockFooter ul li img {
        width: 8%;
        display: block;
        margin: 0.5em auto 0
    }

    .blockFooter ul li a:hover {
        color: #607D8B;
    }

}

@media (min-width: 320px) and (max-width: 375px) {
    * {
        overflow-x: hidden;
    }

    header {
        padding: 10px;
    }

    #menu {
        display: none;
    }

    #menu2{
        display: none;
    }

    /* Checkbox invisível */
    #menuHamburguer {
        position: absolute;
        opacity: 0;
    }

    /* Ícone do Menu Hambúrguer */
    .menuBtn {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
    }

    .menuBtn span {
        width: 30px;
        height: 4px;
        background-color: #FFFFFF;
        margin: 5px 0;
        transition: 0.3s;
        border-radius: 30px;
    }

    /* Estilizando o menu */
    #menuHamb {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        background-color: #00BFAE;
        padding-top: 60px;
        transition: left 0.3s ease-in-out;
    }

    #menuHamb ul {
        list-style: none;
        text-align: center;
    }

    #menuHamb ul li {
        padding: 10px 0;
    }

    #menuHamb ul li a {
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
    }

    /* O menu será exibido quando o checkbox for marcado */
    #menuHamburguer:checked+.menuBtn+#menuHamb {
        left: 0 !important;
        display: block !important;
    }

    /* Efeito no ícone do menu */
    #menuHamburguer:checked+.menuBtn span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    #menuHamburguer:checked+.menuBtn span:nth-child(2) {
        opacity: 0;
    }

    #menuHamburguer:checked+.menuBtn span:nth-child(3) {
        transform: rotate(-45deg) translate(11px, -11px);
    }

    /*Section Inicio da página (Apresentação)*/
    #presentation {
        padding: 6% 0 8%;
        grid-template-columns: 100%;
    }

    #presentation section {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #imgPresentation img {
        display: none;
    }

    #text1 {
        font-size: 1.8em;
        padding: 1em 0.5em 1em;
    }

    /*Section Sobre*/
    #gymtriInfo {
        background-color: #00bfafc7;
        padding: 1em;
    }

    #infoBlock h2 {
        color: #FFFFFF;
        font-size: 1.5em;
    }

    #gymtriInfo p {
        width: auto;
        color: white;
        font-size: 1em;
        text-align: center;
    }

    /*Section Serviços oferecidos*/
    #offer {
        display: none;
    }

    #offer320px {
        display: block;
        padding: 5%;
        overflow: hidden;
    }

    #offer320px section {
        height: auto;
    }

    #offerGrid320px {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .imgItem320px img {
        width: 100%;
        border-radius: 5%;
    }

    .textItem320px h3 {
        font-size: 1.8em;
        color: #00BFAE;
        margin: 5% auto;
        text-align: center;
    }

    .textItem320px p {
        font-size: 1em;
        color: #00BFAE;
        margin: 5% 12%;
        padding: 1%;
    }

    .textItem320px {
        opacity: 0;
        filter: blur(10px);
        transition: all 1s;
        transform: translateX(-100%);
    }

    .show {
        opacity: 1;
        transition: all 1s;
        filter: blur(0);
        transform: translateX(0);
    }

    /*Section vantagens*/
    #blockAdvantage {
        display: none;
    }

    #blockAdvantage320px {
        display: block;
    }

    #blockAdvantage320px {
        background-color: #00BFAE;
    }

    #blockAdvantage320px h2 {
        text-align: center;
        font-size: 2em;
        color: #FFFFFF;
    }

    .blockImg320px {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 1em;
        width: 85px;
        margin: 0 auto;
        padding-bottom: 1em;
    }

    #descripBlock320px {
        padding: 0 10%;
        margin-bottom: 10%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    /*Section Planos*/
    .blockAdv {
        margin: 0 auto 2em;
    }

    .titleAdv {
        font-size: 1.5em;
    }

    .blockAdv p {
        font-size: 1em;
    }

    #blockValue {
        padding-bottom: 8%;
    }

    .titleContainer h2 {
        font-size: 1.8em;
    }

    .valueContainer {
        margin-bottom: 6em;
    }

    .valueContainer:hover {
        box-shadow: 0px 0px 8px 1px #000000;
    }

    #freeText {
        font-size: 1.4em;
        margin-bottom: 1em;
    }

    .textPlans li {
        width: 50%;
    }

    .valueContainer h4 {
        font-size: 1.8em;
        margin-bottom: 1em;
    }

    .valuePlans {
        font-size: 2.4em;
        text-align: center;
    }

    #blockValue p {
        color: white;
        text-align: center;
        padding-bottom: 3em;
    }

    /*Footer*/

    footer {
        background-color: #00BFAE;
        height: auto;
    }

    #footerImg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #footerImg img {
        margin: 0 auto;
        width: 50%;
        display: flex;
    }

    footer hr {
        border-color: white;
        margin: 1em 2em;
    }

    #footerInfos {
        display: block;
        background-color: #00BFAE;
    }

    .blockFooter {
        margin: 2em 2em;
        width: 80%;
    }

    .blockFooter h3 {
        font-size: 1.5em;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 1em;
    }

    .blockFooter li {
        display: block;
        text-align: center;
        margin-bottom: 0.8em;
    }

    .blockFooter li a {
        color: #FFFFFF;
        text-decoration: none;
    }

    .blockFooter ul li img {
        width: 8%;
        display: block;
        margin: 0.5em auto 0
    }

    .blockFooter ul li a:hover {
        color: #607D8B;
    }

}

@media (min-width: 375px) and (max-width: 425px) {
    * {
        overflow-x: hidden;
    }

    header {
        padding: 10px;
    }

    #menu {
        display: none;
    }

    #menu2{
        display: none;
    }

    /* Checkbox invisível */
    #menuHamburguer {
        position: absolute;
        opacity: 0;
    }

    /* Ícone do Menu Hambúrguer */
    .menuBtn {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
    }

    .menuBtn span {
        width: 30px;
        height: 4px;
        background-color: #FFFFFF;
        margin: 5px 0;
        transition: 0.3s;
        border-radius: 30px;
    }

    /* Estilizando o menu */
    #menuHamb {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        background-color: #00BFAE;
        padding-top: 60px;
        transition: left 0.3s ease-in-out;
    }

    #menuHamb ul {
        list-style: none;
        text-align: center;
    }

    #menuHamb ul li {
        padding: 10px 0;
    }

    #menuHamb ul li a {
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
    }

    /* O menu será exibido quando o checkbox for marcado */
    #menuHamburguer:checked+.menuBtn+#menuHamb {
        left: 0 !important;
        display: block !important;
    }

    /* Efeito no ícone do menu */
    #menuHamburguer:checked+.menuBtn span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    #menuHamburguer:checked+.menuBtn span:nth-child(2) {
        opacity: 0;
    }

    #menuHamburguer:checked+.menuBtn span:nth-child(3) {
        transform: rotate(-45deg) translate(11px, -11px);
    }

    /*Section Inicio da página (Apresentação)*/
    #presentation {
        padding: 6% 0 8%;
        grid-template-columns: 100%;
    }

    #presentation section {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #imgPresentation img {
        display: none;
    }

    #text1 {
        font-size: 1.8em;
        padding: 1em 0.5em 1em;
    }

    /*Section Sobre*/
    #gymtriInfo {
        background-color: #00bfafc7;
        padding: 1em;
    }

    #infoBlock h2 {
        color: #FFFFFF;
        font-size: 1.5em;
    }

    #gymtriInfo p {
        width: auto;
        color: white;
        font-size: 1em;
        text-align: center;
    }

    /*Section Serviços oferecidos*/
    #offer {
        display: none;
    }

    #offer320px {
        display: block;
        padding: 5%;
        overflow: hidden;
    }

    #offer320px section {
        height: auto;
    }

    #offerGrid320px {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .imgItem320px img {
        width: 100%;
        border-radius: 5%;
    }

    .textItem320px h3 {
        font-size: 1.8em;
        color: #00BFAE;
        margin: 5% auto;
        text-align: center;
    }

    .textItem320px p {
        font-size: 1em;
        color: #00BFAE;
        margin: 5% 12%;
        padding: 1%;
    }

    .textItem320px {
        opacity: 0;
        filter: blur(10px);
        transition: all 1s;
        transform: translateX(-100%);
    }

    .show {
        opacity: 1;
        transition: all 1s;
        filter: blur(0);
        transform: translateX(0);
    }

    /*Section vantagens*/
    #blockAdvantage {
        display: none;
    }

    #blockAdvantage320px {
        display: block;
    }

    #blockAdvantage320px {
        background-color: #00BFAE;
    }

    #blockAdvantage320px h2 {
        text-align: center;
        font-size: 2em;
        color: #FFFFFF;
    }

    .blockImg320px {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 1em;
        width: 85px;
        margin: 0 auto;
        padding-bottom: 1em;
    }

    #descripBlock320px {
        padding: 0 10%;
        margin-bottom: 10%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    /*Section Planos*/
    .blockAdv {
        margin: 0 auto 4em;
    }

    .titleAdv {
        font-size: 1.5em;
    }

    .blockAdv p {
        font-size: 1em;
    }

    #blockValue {
        padding-bottom: 8%;
    }

    .titleContainer h2 {
        font-size: 1.8em;
        padding: 1em;
    }

    .valueContainer {
        margin-bottom: 6em;
    }

    .valueContainer:hover {
        box-shadow: 0px 0px 8px 1px #000000;
    }

    #freeText {
        font-size: 1.4em;
        margin-bottom: 1em;
    }

    .textPlans li {
        width: 50%;
    }

    .valueContainer h4 {
        font-size: 1.8em;
        margin-bottom: 1em;
    }

    .valuePlans {
        font-size: 2.4em;
        text-align: center;
    }

    #blockValue p {
        color: white;
        text-align: center;
        padding-bottom: 3em;
    }

    /*Footer*/

    footer {
        height: auto;
    }

    #footerImg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #footerImg img {
        margin: 0 auto;
        width: 50%;
        display: flex;
    }

    footer hr {
        margin: 1em 2em;
    }

    #footerInfos {
        display: block;
    }

    .blockFooter {
        margin: 2em 2em;
        width: 85%;
    }

    .blockFooter h3 {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 1em;
    }

    .blockFooter li {
        display: block;
        text-align: center;
        margin-bottom: 0.8em;
    }

    .blockFooter ul li img {
        width: 8%;
        display: block;
        margin: 0.5em auto 0
    }

}

@media (min-width: 425px) and (max-width: 768px) {
    * {
        overflow-x: hidden;
    }

    header {
        padding: 10px;
    }

    #menu {
        display: none;
    }

    #menu2{
        display: none;
    }

    /* Checkbox invisível */
    #menuHamburguer {
        position: absolute;
        opacity: 0;
    }

    /* Ícone do Menu Hambúrguer */
    .menuBtn {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
    }

    .menuBtn span {
        width: 30px;
        height: 4px;
        background-color: #FFFFFF;
        margin: 5px 0;
        transition: 0.3s;
        border-radius: 30px;
    }

    /* Estilizando o menu */
    #menuHamb {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        background-color: #00BFAE;
        padding-top: 60px;
        transition: left 0.3s ease-in-out;
    }

    #menuHamb ul {
        list-style: none;
        text-align: center;
    }

    #menuHamb ul li {
        padding: 10px 0;
    }

    #menuHamb ul li a {
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
    }

    /* O menu será exibido quando o checkbox for marcado */
    #menuHamburguer:checked+.menuBtn+#menuHamb {
        left: 0 !important;
        display: block !important;
    }

    /* Efeito no ícone do menu */
    #menuHamburguer:checked+.menuBtn span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    #menuHamburguer:checked+.menuBtn span:nth-child(2) {
        opacity: 0;
    }

    #menuHamburguer:checked+.menuBtn span:nth-child(3) {
        transform: rotate(-45deg) translate(11px, -11px);
    }

    /*Section Inicio da página (Apresentação)*/
    #presentation {
        padding: 6% 0 8%;
        grid-template-columns: 100%;
    }

    #presentation section {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #imgPresentation img {
        display: none;
    }

    #text1 {
        font-size: 2em;
        padding: 1em 0.5em 1em;
    }

    /*Section Sobre*/
    #gymtriInfo {
        background-color: #00bfafc7;
        padding: 1em 1em;
    }

    #infoBlock h2 {
        color: #FFFFFF;
        font-size: 2em;
        margin-bottom: 2%;
    }

    #gymtriInfo p {
        width: auto;
        color: white;
        font-size: 1.2em;
        text-align: center;
    }

    /*Section Serviços oferecidos*/
    #offer {
        display: none;
    }

    #offer320px {
        display: block;
        padding: 5%;
        overflow: hidden;
    }

    #offer320px section {
        height: auto;
    }

    #offerGrid320px {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .imgItem320px img {
        width: 100%;
        border-radius: 5%;
    }

    .textItem320px h3 {
        font-size: 2em;
        color: #00BFAE;
        margin: 5% auto;
        text-align: center;
    }

    .textItem320px p {
        font-size: 1.2em;
        color: #00BFAE;
        text-align: center;
        margin: 5% 12%;
        padding: 1%;
    }

    .textItem320px {
        opacity: 0;
        filter: blur(10px);
        transition: all 1s;
        transform: translateX(-100%);
    }

    .show {
        opacity: 1;
        transition: all 1s;
        filter: blur(0);
        transform: translateX(0);
    }

    /*Section vantagens*/
    #blockAdvantage {
        display: none;
    }

    #blockAdvantage320px {
        display: block;
    }

    #blockAdvantage320px {
        background-color: #00BFAE;
    }

    #blockAdvantage320px h2 {
        text-align: center;
        font-size: 2em;
        color: #FFFFFF;
    }

    .blockImg320px {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 1em;
        width: 80px;
        margin: 0 auto;
        padding-bottom: 1em;
    }

    #descripBlock320px {
        padding: 0 15%;
        margin-bottom: 10%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    /*Section Planos*/
    .blockAdv {
        margin: 0 auto 4em;
        padding: 1em;

        height: 350px;
    }

    .titleAdv {
        font-size: 2em;
    }

    .blockAdv p {
        font-size: 1.2em;
    }

    #blockValue {
        padding-bottom: 8%;
    }

    .titleContainer h2 {
        font-size: 2em;
        padding: 1em;
    }

    .valueContainer {
        margin-bottom: 6em;
        height: 670px;
        width: 300px;
    }

    .valueContainer:hover {
        box-shadow: 0px 0px 8px 1px #000000;
    }

    #freeText {
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    .textPlans li {
        width: 50%;
        font-size: 1.2em;
    }

    .valueContainer h4 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .valuePlans {
        font-size: 2em;
        text-align: center;
    }

    #blockValue p {
        color: white;
        text-align: center;
        padding-bottom: 3em;
        font-size: 1.4em;
    }

    #btnPlans button {
        font-size: 1.6em;
    }

    /*Footer*/

    footer {
        background-color: #00BFAE;
        height: auto;
    }

    #footerImg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #footerImg img {
        margin: 0 auto;
        width: 50%;
        display: flex;
    }

    footer hr {
        border-color: white;
        margin: 1em 2em;
    }

    #footerInfos {
        display: block;
        background-color: #00BFAE;
    }

    .blockFooter {
        margin: 3em 3em;
        width: 80%;
    }

    .blockFooter h3 {
        font-size: 2em;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 1em;
    }

    .blockFooter li {
        display: block;
        text-align: center;
        margin-bottom: 0.8em;
    }

    .blockFooter li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1.2em;
    }

    .blockFooter ul li img {
        width: 10%;
        display: block;
        margin: 0.5em auto 0
    }

    .blockFooter ul li a:hover {
        color: #607D8B;
    }

}

@media (min-width: 769px) and (max-width: 899px) {
    * {
        overflow-x: hidden;
    }

    header {
        padding: 5px;
    }

    header img {
        width: 75px;
    }

    #menu {
        display: block;
    }

    nav {
        margin-right: 5px;
    }
    
    .navConfig {
        font-size: 0.6em;
        padding: 1.4em 0.2em;
    }
    
    nav ul {
        margin-right: 1em;
    }
    
    /*Section Inicio da página (Apresentação)*/
    #presentation {
        padding: 10% 4%;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    #presentation section {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #imgPresentation img {
        display: block;
        max-width: 100%;
    }

    #text1 {
        font-size: 2.2em;
        padding: 0em 0.8em 1em;
    }

    /*Section Sobre*/
    #infoBlock h2 {
        font-size: 1.8em;
    }

    #gymtriInfo p {
        width: auto;
        color: white;
        font-size: 1.2em;
        padding: 0 1em;
    }

    /*Section Serviços oferecidos*/

    .textItem h3 {
        font-size: 1.8em;
    }


    /*Section vantagens*/

    #blockAdvantage320px {
        display: none;
    }

    #blockAdvantage {
        display: block;
    }

    #blockAdvantage h2 {
        font-size: 2em;
        margin-bottom: 1.3em;
    }
    
    #blockImg img {
        width: 70px;
    }

    .blockAdv {
        margin: 0 1em 4em;
        padding: 1em;
        width: 300px;
        height: 280px;
    }

    .titleAdv {
        font-size: 1.4em;
    }

    .blockAdv p {
        font-size: 1.2em;
    }

    /*Section Planos*/

    #blockValue {
        padding-bottom: 10%;
    }

    .titleContainer h2 {
        font-size: 2em;
        padding: 1em;
    }

    .valueContainer {
        height: 650px;
        width: 300px;
        margin-bottom: 10%;
    }

    #freeText {
        font-size: 1.6em;
    }

    .textPlans li{
        font-size: 1.2em;
    }

    .valueContainer h4 {
        font-size: 2em;
    }

    .valuePlans {
        font-size: 2em;
    }

    #blockValue p {
        font-size: 1.2em;
    }

    #btnPlans button {
        font-size: 1.6em;
    }

    /*Footer*/

    footer {
        height: auto;
    }

    #footerImg img {
        margin: 0 auto;
        width: 30%;
    }

    footer hr {
        border-color: white;
        margin: 1em 2em;
    }

    #footerInfos {
        display: flex;
    }

    .blockFooter {
        margin: 3em 1em;
        width: 80%;
    }

    .blockFooter h3 {
        font-size: 1.4em;
        text-align: center;
        margin-bottom: 1em;
    }

    .blockFooter li {
        display: block;
        text-align: center;
        margin-bottom: 0.8em;
    }

    .blockFooter li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1em;
    }

    .blockFooter ul li img {
        width: 10%;
        display: block;
        margin: 0.5em auto 0
    }
}

@media (min-width: 900px) and (max-width: 1097px) {
    * {
        overflow-x: hidden;
    }

    header {
        padding: 5px;
    }

    header img {
        width: 75px;
    }

    #menu {
        display: block;
    }

    nav {
        margin-right: 5px;
    }
    
    .navConfig {
        font-size: 0.9em;
        padding: 1.4em 0.4em;
    }
    
    nav ul {
        margin-right: 1em;
    }
    
    /*Section Inicio da página (Apresentação)*/
    #presentation {
        padding: 10% 4%;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    #presentation section {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #imgPresentation img {
        display: block;
        max-width: 100%;
    }

    #text1 {
        font-size: 2.2em;
        padding: 2em 0.8em 1em;
    }

    /*Section Sobre*/
    #infoBlock h2 {
        font-size: 1.8em;
    }

    #gymtriInfo p {
        width: auto;
        color: white;
        font-size: 1.2em;
        padding: 0 1em;
    }

    /*Section Serviços oferecidos*/

    .textItem h3 {
        color: #00BFAE;
        font-size: 2em;
        margin-bottom: 5%;
    }

    /*Section vantagens*/

    #blockAdvantage320px {
        display: none;
    }

    #blockAdvantage {
        display: block;
    }

    #blockAdvantage h2 {
        font-size: 2em;
        margin-bottom: 1.3em;
    }
    
    #blockImg img {
        width: 70px;
    }

    .blockAdv {
        margin: 0 1em 4em;
        padding: 1em;
        width: 300px;
        height: 280px;
    }

    .titleAdv {
        font-size: 1.4em;
    }

    .blockAdv p {
        font-size: 1.2em;
    }

    /*Section Planos*/

    #blockValue {
        padding-bottom: 10%;
    }

    .titleContainer h2 {
        font-size: 2em;
        padding: 1em;
    }

    .valueContainer {
        height: 650px;
        width: 300px;
        margin: 5% 3%;
    }

    #freeText {
        font-size: 1.6em;
    }

    .textPlans li{
        font-size: 1.2em;
    }

    .valueContainer h4 {
        font-size: 2em;
    }

    .valuePlans {
        font-size: 2em;
    }

    #blockValue p {
        font-size: 1.2em;
    }

    #btnPlans button {
        font-size: 1.6em;
    }

    /*Footer*/

    footer {
        height: auto;
    }

    #footerImg img {
        margin: 0 auto;
        width: 20%;
    }

    footer hr {
        border-color: white;
        margin: 1em 2em;
    }

    #footerInfos {
        display: flex;
    }

    .blockFooter {
        margin: 3em 1em;
        width: 80%;
    }

    .blockFooter h3 {
        font-size: 1.4em;
        text-align: center;
        margin-bottom: 1em;
    }

    .blockFooter li {
        display: block;
        text-align: center;
        margin-bottom: 0.8em;
    }

    .blockFooter li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1em;
    }

    .blockFooter ul li img {
        width: 10%;
        display: block;
        margin: 0.5em auto 0
    }
}

@media (min-width: 1098px) and (max-width: 1184px) {
    * {
        overflow-x: hidden;
    }

    header {
        padding: 5px;
    }

    header img {
        width: 75px;
    }

    #menu {
        display: block;
    }

    nav {
        margin-right: 5px;
    }
    
    .navConfig {
        font-size: 1em;
        padding: 1.4em 0.4em;
    }
    
    nav ul {
        margin-right: 1em;
    }
    
    /*Section Inicio da página (Apresentação)*/
    #presentation {
        padding: 10% 4%;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    #presentation section {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #imgPresentation img {
        display: block;
        max-width: 100%;
    }

    #text1 {
        font-size: 2.5em;
        padding: 1.5em 0.8em 1em;
    }

    /*Section Sobre*/
    #infoBlock h2 {
        font-size: 1.8em;
    }

    #gymtriInfo p {
        width: auto;
        color: white;
        font-size: 1.2em;
        padding: 0 1em;
    }

    /*Section Serviços oferecidos*/

    .textItem h3 {
        font-size: 2.4em;
    }

    /*Section vantagens*/

    #blockAdvantage320px {
        display: none;
    }

    #blockAdvantage {
        display: block;
    }

    #blockAdvantage h2 {
        font-size: 2em;
        margin-bottom: 1.3em;
    }
    
    #blockImg img {
        width: 70px;
    }

    .blockAdv {
        margin: 0 1em 4em;
        padding: 1em;
        width: 300px;
        height: 280px;
    }

    .titleAdv {
        font-size: 1.4em;
    }

    .blockAdv p {
        font-size: 1.2em;
    }

    /*Section Planos*/

    #blockValue {
        padding-bottom: 10%;
    }

    .titleContainer h2 {
        font-size: 2em;
        padding: 1em;
    }

    .valueContainer {
        height: 650px;
        width: 300px;
        margin: 5% 4%;
    }

    #freeText {
        font-size: 1.6em;
    }

    .textPlans li{
        font-size: 1.2em;
    }

    .valueContainer h4 {
        font-size: 2em;
    }

    .valuePlans {
        font-size: 2em;
    }

    #blockValue p {
        font-size: 1.2em;
    }

    #btnPlans button {
        font-size: 1.6em;
    }

    /*Footer*/

    footer {
        height: auto;
    }

    #footerImg img {
        margin: 0 auto;
        width: 20%;
    }

    footer hr {
        border-color: white;
        margin: 1em 2em;
    }

    #footerInfos {
        display: flex;
    }

    .blockFooter {
        margin: 3em 1em;
        width: 80%;
    }

    .blockFooter h3 {
        font-size: 1.4em;
        text-align: center;
        margin-bottom: 1em;
    }

    .blockFooter li {
        display: block;
        text-align: center;
        margin-bottom: 0.8em;
    }

    .blockFooter li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1em;
    }

    .blockFooter ul li img {
        width: 10%;
        display: block;
        margin: 0.5em auto 0
    }
}

@media (min-width: 1440px) and (max-width: 1700px) {
    * {
        overflow-x: hidden;
    }

    header {
        padding: 5px;
    }

    header img {
        width: 90px;
    }

    #menu {
        display: block;
    }

    nav {
        margin-right: 5px;
    }
    
    .navConfig {
        font-size: 1.2em;
        padding: 1.4em 0.5em;
    }
    
    nav ul {
        margin-right: 1em;
    }
    
    /*Section Inicio da página (Apresentação)*/
    #presentation {
        padding: 10% 4%;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    #presentation section {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #imgPresentation img {
        display: block;
        max-width: 100%;
    }

    #text1 {
        font-size: 3.4em;
        padding: 1em 0.8em 1em;
    }

    /*Section Sobre*/
    #infoBlock h2 {
        font-size: 2.4em;
    }

    #gymtriInfo p {
        width: auto;
        color: white;
        font-size: 1.8em;
        padding: 0 1em;
    }

    /*Section Serviços oferecidos*/

    .textItem {
        font-size: 1.4em;
        width: 100%;
    }

    /*Section vantagens*/

    #blockAdvantage320px {
        display: none;
    }

    #blockAdvantage {
        display: block;
    }

    #blockAdvantage h2 {
        font-size: 3em;
        margin-bottom: 1.3em;
    }
    
    #blockImg img {
        width: 95px;
    }

    .blockAdv {
        margin: 0 1em 4em;
        padding: 1em;
        width: 300px;
        height: 350px;
    }

    .titleAdv {
        font-size: 2.2em;
    }

    .blockAdv p {
        font-size: 1.6em;
    }

    /*Section Planos*/

    #blockValue {
        padding-bottom: 10%;
    }

    .titleContainer h2 {
        font-size: 3em;
        padding: 1em;
    }

    .valueContainer {
        height: 950px;
        width: 300px;
    }

    #freeText {
        font-size: 2.2em;
    }

    .textPlans li{
        font-size: 1.6em;
    }

    .valueContainer h4 {
        font-size: 2.4em;
    }

    .valuePlans {
        font-size: 2.8em;
    }

    #blockValue p {
        font-size: 1.4em;
    }

    #btnPlans button {
        font-size: 2em;
    }

    /*Footer*/

    footer {
        height: auto;
    }

    #footerImg img {
        margin: 0 auto;
        width: 20%;
    }

    footer hr {
        border-color: white;
        margin: 1em 4em;
    }

    #footerInfos {
        display: flex;
    }

    .blockFooter {
        margin: 3em 1em;
        width: 80%;
    }

    .blockFooter h3 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 1em;
    }

    .blockFooter li {
        display: block;
        text-align: center;
        margin-bottom: 0.8em;
    }

    .blockFooter li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1.4em;
    }

    .blockFooter ul li img {
        width: 4%;
    }
}

@media (min-width: 1700px) and (max-width: 2100px) {
    * {
        overflow-x: hidden;
    }

    header {
        padding: 5px;
    }

    header img {
        width: 90px;
    }

    #menu {
        display: block;
    }

    nav {
        margin-right: 5px;
    }
    
    .navConfig {
        font-size: 1.6em;
        padding: 1.4em 0.5em;
    }
    
    nav ul {
        margin-right: 1em;
    }
    
    /*Section Inicio da página (Apresentação)*/
    #presentation {
        padding: 10% 4%;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    #presentation section {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #imgPresentation img {
        display: block;
        max-width: 100%;
    }

    #text1 {
        font-size: 3.4em;
        padding: 2em 0.8em 1em;
    }

    /*Section Sobre*/
    #infoBlock h2 {
        font-size: 2.4em;
    }

    #gymtriInfo p {
        width: auto;
        color: white;
        font-size: 1.8em;
        padding: 0 1em;
    }

    /*Section Serviços oferecidos*/

    .textItem {
        font-size: 1.4em;
        width: 100%;
    }

    /*Section vantagens*/

    #blockAdvantage320px {
        display: none;
    }

    #blockAdvantage {
        display: block;
    }

    #blockAdvantage h2 {
        font-size: 3em;
        margin-bottom: 1.3em;
    }
    
    #blockImg img {
        width: 95px;
    }

    .blockAdv {
        margin: 0 1em 4em;
        padding: 1em;
        width: 300px;
        height: 350px;
    }

    .titleAdv {
        font-size: 2.2em;
    }

    .blockAdv p {
        font-size: 1.6em;
    }

    /*Section Planos*/

    #blockValue {
        padding-bottom: 10%;
    }

    .titleContainer h2 {
        font-size: 3em;
        padding: 1em;
    }

    .valueContainer {
        height: 950px;
        width: 300px;
    }

    #freeText {
        font-size: 2.2em;
    }

    .textPlans li{
        font-size: 1.6em;
    }

    .valueContainer h4 {
        font-size: 2.4em;
    }

    .valuePlans {
        font-size: 2.8em;
    }

    #blockValue p {
        font-size: 1.4em;
    }

    #btnPlans button {
        font-size: 2em;
    }

    /*Footer*/

    footer {
        height: auto;
    }

    #footerImg img {
        margin: 0 auto;
        width: 20%;
    }

    footer hr {
        border-color: white;
        margin: 1em 4em;
    }

    #footerInfos {
        display: flex;
    }

    .blockFooter {
        margin: 3em 1em;
        width: 80%;
    }

    .blockFooter h3 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 1em;
    }

    .blockFooter li {
        display: block;
        text-align: center;
        margin-bottom: 0.8em;
    }

    .blockFooter li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1.4em;
    }

    .blockFooter ul li img {
        width: 4%;
    }
}

@media (min-width: 2100px) and (max-width: 2300px) {

    header img {
        width: 140px;
    }
    
    .navConfig {
        font-size: 1.8em;
        padding: 1.4em 0.5em;
    }
    
    /*Section Inicio da página (Apresentação)*/

    #text1 {
        font-size: 4.2em;
        padding: 1.2em 0.8em 1em;
    }

    /*Section Sobre*/
    #infoBlock h2 {
        font-size: 3em;
    }

    #gymtriInfo p {
        width: auto;
        color: white;
        font-size: 2em;
        padding: 0 1em;
    }

    /*Section Serviços oferecidos*/

    .textItem {
        font-size: 2em;
        width: 100%;
    }

    /*Section vantagens*/

    #blockAdvantage h2 {
        font-size: 3em;
        margin-bottom: 1.3em;
    }
    
    #blockImg img {
        width: 140px;
    }

    .blockAdv {
        margin: 0 1em 4em;
        padding: 1em;
        width: 450px;
        height: 400px;
    }

    .titleAdv {
        font-size: 2.4em;
    }

    .blockAdv p {
        font-size: 2em;
    }

    /*Section Planos*/

    .titleContainer h2 {
        font-size: 3em;
        padding: 1em;
    }

    .valueContainer {
        height: 950px;
        width: 430px;
    }

    #freeText {
        font-size: 2.4em;
    }

    .textPlans li{
        font-size: 1.8em;
    }

    .valueContainer h4 {
        font-size: 2.6em;
    }

    .valuePlans {
        font-size: 2.8em;
    }

    #blockValue p {
        font-size: 1.6em;
    }

    #btnPlans button {
        font-size: 3em;
    }

    /*Footer*/

    #footerImg img {
        margin: 0 auto;
        width: 20%;
    }

    .blockFooter h3 {
        font-size: 2.2em;
        text-align: center;
        margin-bottom: 1em;
    }

    .blockFooter li {
        display: block;
        text-align: center;
        margin-bottom: 0.8em;
    }

    .blockFooter li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1.8em;
    }
}

@media (min-width: 2300px) and (max-width: 2560px) {
    * {
        overflow-x: hidden;
    }

    header {
        padding: 5px;
    }

    header img {
        width: 140px;
    }

    #menu {
        display: block;
    }

    nav {
        margin-right: 5px;
    }
    
    .navConfig {
        font-size: 2em;
        padding: 1.4em 0.5em;
    }
    
    /*Section Inicio da página (Apresentação)*/
    #presentation {
        padding: 10% 4%;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    #presentation section {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #imgPresentation img {
        display: block;
        max-width: 100%;
    }

    #text1 {
        font-size: 4.8em;
        padding: 2em 0.8em 1em;
    }

    /*Section Sobre*/
    #infoBlock h2 {
        font-size: 3em;
    }

    #gymtriInfo p {
        width: auto;
        color: white;
        font-size: 2.4em;
        padding: 0 1em;
    }

    /*Section Serviços oferecidos*/

    .textItem {
        font-size: 2.4em;
        width: 100%;
    }

    /*Section vantagens*/

    #blockAdvantage320px {
        display: none;
    }

    #blockAdvantage {
        display: block;
    }

    #blockAdvantage h2 {
        font-size: 3.2em;
        margin-bottom: 1.3em;
    }
    
    #blockImg img {
        width: 140px;
    }

    .blockAdv {
        margin: 0 1em 4em;
        padding: 1em;
        width: 500px;
        height: 450px;
    }

    .titleAdv {
        font-size: 2.6em;
    }

    .blockAdv p {
        font-size: 2.2em;
    }

    /*Section Planos*/

    #blockValue {
        padding-bottom: 10%;
    }

    .titleContainer h2 {
        font-size: 3.2em;
        padding: 1em;
    }

    .valueContainer {
        height: 1050px;
        width: 500px;
    }

    #freeText {
        font-size: 2.6em;
    }

    .textPlans li{
        font-size: 2.2em;
    }

    .valueContainer h4 {
        font-size: 2.6em;
    }

    .valuePlans {
        font-size: 3em;
    }

    #blockValue p {
        font-size: 2em;
    }

    #btnPlans button {
        font-size: 3em;
    }

    /*Footer*/

    footer {
        height: auto;
    }

    #footerImg img {
        margin: 0 auto;
        width: 20%;
    }

    footer hr {
        border-color: white;
        margin: 1em 4em;
    }

    #footerInfos {
        display: flex;
    }

    .blockFooter {
        margin: 3em 1em;
        width: 80%;
    }

    .blockFooter h3 {
        font-size: 2.4em;
        text-align: center;
        margin-bottom: 1em;
    }

    .blockFooter li {
        display: block;
        text-align: center;
        margin-bottom: 0.8em;
    }

    .blockFooter li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 2.2em;
    }

    .blockFooter ul li img {
        width: 4%;
    }
}