<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gymtri - Sua academia online</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/efeitoHome.js" defer></script>
</head>

<body>

    <!--Cabeçalho do site-->
    <header>
        <a href="/"><img src="img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>

        <!--Menu de navegação-->
        <nav id="menu">

            <!--Itens do Menu-->
            <ul>
                <li> <a href="/produtos" class="navConfig">Produtos</a></li>
                <li><a href="#plansValueContainer" class="navConfig">Planos</a></li>
                <li><a href="#blockAdvantage" class="navConfig">Vantagens</a></li>
            </ul>
        </nav>

        <nav id="menu2">
            <ul>
                <li><a href="/cadastro" class="navConfig" id="linkRegister">Cadastre-se</a></li>
                <li><a href="/login" class="navConfig">Entrar</a></li>
            </ul>
        </nav>


        <!--Menu Hambúrguer/Checkbox oculto-->

        <input type="checkbox" id="menuHamburguer">

        <!--Icone do menu hambúrguer-->
        <label for="menuHamburguer" class="menuBtn">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav id="menuHamb">
            <ul>
                <li> <a href="Produtos/indexprodutos" class="navConfig">Produtos</a></li>
                <li><a href="#plansValueContainer" class="navConfig">Planos</a></li>
                <li><a href="#blockAdvantage" class="navConfig">Vantagens</a></li>
                <li><a href="cadastro" class="navConfig">Cadastre-se</a></li>
                <li><a href="login" class="navConfig">Entrar</a></li>
            </ul>
        </nav>

    </header>

    <!--Conteúdo Principal-->
    <main>

        <!--Texto principal-->
        <section id="presentation">
            <section id="text1">
                <h1>Sua conexão digital para um estilo de vida fitness completo.</h1>
            </section>

            <section id="imgPresentation">
                <img src="img/imgHome4.png" alt="Saúde e bem estar">
            </section>
        </section>

        <!--Objetivo da Gymtri-->
        <section id="gymtriInfo">
            <section id="infoBlock" class="titleContainer">
                <h2>Sobre a Gymtri</h2>
                <p>Viemos com o objetivo de facilitar sua conexão com a vida fitness, trazendo uma plataforma que lhe
                    dará o conforto e diversos benefícios que você precisa para mehorar sua qualidade de vida! Diferente da concorrência, você não precisa estar vinculado a uma empresa.</p>
            </section>
        </section>

        <!--Serviços oferecidos-->
        <section id="offer">
            <section id="offerGrid">

                <section class="blockOffer">
                    <section class="imgItem">
                        <img src="img/academia.jpg" alt="Halter">
                    </section>
                    <section class="textItem">
                        <h3>Academia</h3>
                        <p>Aqui na Gymtri, você encontra a academia mais próxima de você!</p>
                    </section>
                </section>

                <section class="blockOffer">
                    <section class="textItem">
                        <h3>Personal Trainer</h3>
                        <p>Contamos com serviço de personal trainer online, permitindo que você tenha um treino
                            eficiente e
                            adaptado às suas necessidades.</p>
                    </section>
                    <section class="imgItem">
                        <img src="img/personalTrainer.jpg" alt="Personal Trainer">
                    </section>
                </section>

                <section class="blockOffer">
                    <section class="imgItem">
                        <img src="img/alimentos4.jpg" alt="Nutricionista">
                    </section>
                    <section class="textItem">
                        <h3>Nutricionistas</h3>
                        <p>Oferecemos consultas com nutricionistas, proporcionando orientação personalizada para você
                        atingir seus objetivos e bem-estar.</p>
                    </section>
                </section>
            </section>
        </section>

        <section id="offer320px">
            <section id="offerGrid320px">
                <section class="imgItem320px">
                    <img src="img/academia.jpg" alt="Halter">
                </section>
                <section class="textItem320px">
                    <h3>Academia</h3>
                    <p>Aqui na Gymtri, você encontra a academia mais próxima de você!</p>
                </section>

                <section class="imgItem320px">
                    <img src="img/personalTrainer.jpg" alt="Personal Trainer">
                </section>
                <section class="textItem320px">
                    <h3>Personal Trainer</h3>
                    <p>Contamos com serviço de personal trainer online, permitindo que você tenha um treino eficiente e
                        adaptado às suas necessidades.</p>
                </section>


                <section class="imgItem320px">
                    <img src="img/alimentos4.jpg" alt="Nutricionista">
                </section>
                <section class="textItem320px">
                    <h3>Nutricionistas</h3>
                    <p>Oferecemos consultas com nutricionistas, proporcionando orientação personalizada para você
                        atingir seus objetivos e bem-estar.</p>
                </section>

            </section>
        </section>

        <!--Vantagens que a Gymtri oferece-->
        <section id="blockAdvantage" class="titleContainer">
            <h2>Vantagens</h2>
            <section id="blockImg">
                <img src="img/stopwatch2.png" alt="Tempo">
                <img src="img/piggy-bank2.png" alt="Economia">
                <img src="img/checked2.png" alt="Qualidade">
            </section>

            <section id="descripBlock">
                <section id="blockAdv1" class="blockAdv">
                    <h4 class="titleAdv">Não perca horas em filas</h4>
                    <p>Sem filas, aproveite seu tempo com praticidade e eficiência.</p>
                </section>
                <section id="blockAdv2" class="blockAdv">
                    <h4 class="titleAdv">Mais economia para você</h4>
                    <p>Economia garantida, mantendo seu orçamento sob controle.</p>
                </section>
                <section id="blockAdv3" class="blockAdv">
                    <h4 class="titleAdv">Profissionais certificados e qualificados</h4>
                    <p>Atendimento especializado por profissionais confiáveis e experientes.</p>
                </section>
            </section>
        </section>

        <!--Vantagens que a Gymtri oferece 320px-->
        <section id="blockAdvantage320px" class="titleContainer">
            <h2>Vantagens</h2>
            <section id="descripBlock320px">
                <img class="blockImg320px" src="img/stopwatch2.png" alt="Tempo">
                <section id="blockAdv1" class="blockAdv">
                    <h4 class="titleAdv">Não perca horas em filas</h4>
                    <p>Sem filas, aproveite seu tempo com praticidade e eficiência.</p>
                </section>
                <img class="blockImg320px" src="img/piggy-bank2.png" alt="Economia">
                <section id="blockAdv2" class="blockAdv">
                    <section>
                        <h4 class="titleAdv">Mais economia para você</h4>
                        <p>Economia garantida, mantendo seu orçamento sob controle.</p>
                    </section>
                </section>
                <img class="blockImg320px" src="img/checked2.png" alt="Qualidade">
                <section id="blockAdv3" class="blockAdv">
                    <h4 class="titleAdv">Profissionais certificados e qualificados</h4>
                    <p>Atendimento especializado por profissionais confiáveis e experientes.</p>
                </section>
            </section>
        </section>

        <!--Valores dos planos-->

        <section id="plansValueContainer" class="titleContainer">
            <h2>Melhores planos para você!</h2>
            <section id="blockValue">
                <section class="valueContainer">
                    <h4 id="free">Gratuito</h4>
                    <span id="freeText" class="valuePlans">Venha conferir</span>
                    <ul class="textPlans">
                        <li>Acesso à plataforma</li>
                        <li>Sem custos iniciais</li>
                        <li>Ideal para projetos iniciais</li>
                        <li>Facilidade para upgrade para planos pagos</li>
                    </ul>
                </section>
                <section class="valueContainer">
                    <h4>Básico</h4>
                    <span class="valuePlans">R$94,99</span>
                    <p>por mês</p>
                    <ul class="textPlans">
                        <li>Acesso completo às academias do site</li>
                        <li>Treine nas academias disponíveis </li>
                        <li>Escolha entre academias cadastradas</li>
                        <li>Facilidade de upgrade para outros planos</li>
                    </ul>


                </section>
                <section class="valueContainer">
                    <h4>Intermediário</h4>
                    <span class="valuePlans">R$249,99</span>
                    <p>por mês</p>
                    <ul class="textPlans">
                        <li>Acesso ilimitado às academias</li>
                        <li>2 consultas mensais com especialista</li>
                        <li>Flexibilidade de escolher entre nutricionista ou personal</li>
                        <li>Acompanhamento personalizado</li>
                    </ul>
                </section>
                <section class="valueContainer">
                    <h4>Premium</h4>
                    <span class="valuePlans">R$359,99</span>
                    <p>por mês</p>
                    <ul class="textPlans">
                        <li>Acesso ilimitado às academias</li>
                        <li>4 consultas mensais com especialista</li>
                        <li>Flexibilidade de escolher entre nutricionista ou personal</li>
                        <li>Acompanhamento personalizado</li>
                    </ul>
                </section>
            </section>
            <!--Botão para contratar um dos planos-->
            <section id="btnPlans">
                <button>Garantir agora!</button>
            </section>
        </section>
    </main>

    <!--Rodapé do Site-->
    <footer>

        <!--Imagem centralizada do rodapé-->
        <section id="footerImg">
            <img src="img/logoPng3.png" alt="logo">
        </section>

        <hr>

        <!--Links e informativos-->
        <section id="footerInfos">
            <section class="blockFooter">
                <h3>Institucional</h3>
                <ul>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Vantagens</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="#">Central de ajuda</a></li>
                </ul>
            </section>

            <section class="blockFooter">
                <h3>Saiba Mais</h3>
                <ul>
                    <li><a href="#">Trabalhe Conosco</a></li>
                    <li><a href="#">Canal de Denúncias</a></li>
                    <li><a href="#">Divulgue Sua Marca</a></li>
                </ul>
            </section>

            <section class="blockFooter">
                <h3>Entre em contato</h3>
                <ul>
                    <li class="linkConfig"><img src="img/instagram2.png" alt="Instagram"><a href="#">@gymtri</a>
                    </li>
                    <li class="linkConfig"><img src="img/tik-tok2.png" alt="Tiktok"><a href="#">@gymtri</a></li>
                    <li><img src="img/o-email2.png" alt="Email"><a href="#">gymtricontato@gmail.com</a></li>
                    <li><img src="img/telefone2.png" alt="Telefone"><a href="#">(11)99999-9999</a></li>
                </ul>
            </section>

        </section>
    </footer>
</body>

</html>