<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="/css/styleLogin.css">
</head>

<body>
    <header>
        <a href="/"><img src="/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="/produtos" class="navConfig">Produtos</a></li>
                <li><a href="/#plansValueContainer" class="navConfig">Planos</a></li>
                <li><a href="/#blockAdvantage" class="navConfig">Vantagens</a></li>
            </ul>
        </nav>

        <nav id="menu2">
            <ul>
                <li><a href="/cadastro" class="navConfig" id="linkRegister">Cadastre-se</a></li>
                <li><a href="/login" class="navConfig">Entrar</a></li>
            </ul>
        </nav>

        <input type="checkbox" id="menuHamburguer">
        <label for="menuHamburguer" class="menuBtn">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav id="menuHamb">
            <ul>
                <li><a href="/produtos" class="navConfig">Produtos</a></li>
                <li><a href="/#plansValueContainer" class="navConfig">Planos</a></li>
                <li><a href="/#blockAdvantage" class="navConfig">Vantagens</a></li>
                <li><a href="/cadastro" class="navConfig">Cadastre-se</a></li>
                <li><a href="/login" class="navConfig">Entrar</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="h1Title">
            <h1>Escolha como deseja entrar</h1>
        </section>
        <hr>

        <!-- FORMULÁRIO DE LOGIN -->
        <form method="POST" action="/loginInterface" id="loginInterface">
            <section id="chooseUser">
                <button class="btnChoose" data-user="interfaceUsuario" type="button">Aluno</button>
                <button class="btnChoose" data-user="interfaceAcademia" type="button">Academia</button>
                <button class="btnChoose" data-user="interfaceProfissional" type="button">Profissional</button>
            </section>

            <input type="hidden" name="tipo" id="userType">
            

            <section id="emailInput">
                <label for="email" class="titleLabel">E-mail ou nome de usuário</label>
                <br>
                <input id="email" name="nome" type="text" placeholder="Digite seu e-mail ou nome de usuário" required>
            </section>

            <br>

            <section id="containerPassword">
                <label for="password" class="titleLabel">Senha</label>
                <br>
                <input id="password" name="senha" type="password" placeholder="Digite sua senha" required>
            </section>

            <section id="textRegister">
                <a href="/esqueciSenha">Esqueci minha senha</a>
                <a href="/cadastro">Fazer Cadastro</a>
            </section>

            <br>

            <section id="buttonInput">
                <button type="submit" id="btnConfirm">Continuar</button>
            </section>
        </form>
    </main>

    <footer>
        <section id="footerImg">
            <img src="/img/logoPng3.png" alt="logo">
        </section>

        <hr>

        <section id="footerInfos">
            <section class="blockFooter">
                <h3>Institucional</h3>
                <ul>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Vantagens</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="#">Central de ajuda</a></li>
                </ul>
            </section>

            <section class="blockFooter">
                <h3>Saiba Mais</h3>
                <ul>
                    <li><a href="#">Trabalhe Conosco</a></li>
                    <li><a href="#">Canal de Denúncias</a></li>
                    <li><a href="#">Divulgue Sua Marca</a></li>
                </ul>
            </section>

            <section class="blockFooter">
                <h3>Entre em contato</h3>
                <ul>
                    <li class="linkConfig"><img src="/img/instagram2.png" alt="Instagram"><a href="#">@gymtri</a></li>
                    <li class="linkConfig"><img src="/img/tik-tok2.png" alt="Tiktok"><a href="#">@gymtri</a></li>
                    <li><img src="/img/o-email2.png" alt="Email"><a href="#">gymtricontato@gmail.com</a></li>
                    <li><img src="/img/telefone2.png" alt="Telefone"><a href="#">(11)99999-9999</a></li>
                </ul>
            </section>
        </section>
    </footer>

    <script src="js/scriptLogin.js"></script>
</body>

</html>
