<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loja de Produtos</title>
  <link rel="stylesheet" href="css/styleprodutos.css">
</head>

<body>
  <header>
    <a href="/"><img src="img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
    <nav id="menu">
      <ul>
        <li> <a href="/produtos" class="navConfig">Produtos</a></li>
        <li><a href="/#plansValueContainer" class="navConfig">Planos</a></li>
        <li><a href="/#blockAdvantage" class="navConfig">Vantagens</a></li>
      </ul>
    </nav>

    <nav id="menu2">
      <ul>
        <li><a href="/cadastro" class="navConfig" id="linkRegister">Cadastre-se</a></li>
        <li><a href="/login" class="navConfig">Entre</a></li>
      </ul>
    </nav>
  </header>
  <div class="carousel">
    <a href="https://www.madrugaosuplementos.com.br/" class="carousel-link">
      <img src="img/banner1.webp" alt="Imagem 1" class="carousel-image">
    </a>
    <a href="https://www.madrugaosuplementos.com.br/" class="carousel-link">
      <img src="img/banner 2.webp" alt="Imagem 2" class="carousel-image">
    </a>
  </div>

  <section class="product-grid">

    <div class="product" id="product1">
      <img src="img/Bcaa.png" alt="Produto 1">
      <br><br>
      <h3>BCAA 2:1:1</h3>
      <br>
      <h5>Indicado para promover recuperação muscular, reduzir a fadiga e auxiliar no ganho de massa muscular.</h5>
      <br>
      <a href="https://www.madrugaosuplementos.com.br/bcaa-120caps-atlhetica-nutrition/p" class="buy-button">Comprar</a>
    </div>

    <div class="product" id="product2">
      <img src="img/Creatina.png" alt="Produto 2">
      <br><br>
      <h3>Creatina</h3>
      <br>
      <h5>Indicada para aumentar a força, a potência muscular e melhorar o desempenho em exercícios de alta intensidade.
      </h5>
      <br>
      <a href="https://www.madrugaosuplementos.com.br/creatina-titanium-300g-max-titanium/p"
        class="buy-button">Comprar</a>
    </div>

    <div class="product" id="product3">
      <img src="img/L-GLUTAMINA.png" alt="Produto 3">
      <br><br>
      <h3>L-GLUTAMINA</h3>
      <br>
      <h5>Indicada para fortalecer o sistema imunológico, ajudar na recuperação muscular e melhorar a saúde intestinal.
      </h5>
      <br>
      <a href="https://www.madrugaosuplementos.com.br/l-glutamina-120g-probiotica/p" class="buy-button">Comprar</a>
    </div>

    <div class="product" id="product4">
      <img src="img/Horus.png" alt="Produto 4">
      <br><br>
      <h3>Horus</h3>
      <br>
      <h5>Indicado para aumentar o foco, a energia e a resistência durante atividades físicas intensas.</h5>
      <br>
      <a href="https://www.madrugaosuplementos.com.br/horus-300g-max-titanium/p" class="buy-button">Comprar</a>
    </div>

    <div class="product" id="product5">
      <img src="img/L-CARNITINA.png" alt="Produto 5">
      <br><br>
      <h3>L-CARNITINA</h3>
      <br>
      <h5>Indicada para auxiliar na queima de gordura, melhorar a produção de energia e aumentar o desempenho físico.
      </h5>
      <br>
      <a href="https://www.madrugaosuplementos.com.br/l-carnitina-2000-400ml-probiotica/p"
        class="buy-button">Comprar</a>
    </div>

    <div class="product" id="product6">
      <img src="img/Palatinose.webp" alt="Produto 6">
      <br><br>
      <h3>Palatinose</h3>
      <br>
      <h5>Indicada para fornecer energia de forma gradual e prolongada, ideal para melhorar a resistência em atividades
        físicas.</h5>
      <br>
      <a href="https://www.madrugaosuplementos.com.br/palatinose-300g-max-titanium/p" class="buy-button">Comprar</a>
    </div>

    <div class="product" id="product7">
      <img src="img/reforz-c.png" alt="Produto 7">
      <br><br>
      <h3>Reforz-C</h3>
      <br>
      <h5>Indicado para fortalecer o sistema imunológico e melhorar a defesa contra infecções.</h5>
      <br>
      <a href="https://www.madrugaosuplementos.com.br/reforz-c-150g-integralmedica/p" class="buy-button">Comprar</a>
    </div>

    <div class="product" id="product8">
      <img src="img/Super Gainers.png" alt="Produto 8">
      <br><br>
      <h3>Super Gainers</h3>
      <br>
      <h5>Indicado para auxiliar no ganho de peso e massa muscular para quem tem dificuldade em aumentar o peso.</h5>
      <br>
      <a href="https://www.madrugaosuplementos.com.br/super-gainers-3000g-max-titanium/p" class="buy-button">Comprar</a>
    </div>

    <div class="product" id="product9">
      <img src="img/Thermo Sleep.png" alt="Produto 9">
      <br><br>
      <h3>Thermo Sleep</h3>
      <br>
      <h5>Indicado para promover relaxamento, melhorar a qualidade do sono e auxiliar na recuperação muscular durante o
        descanso.</h5>
      <br>
      <a href="https://www.madrugaosuplementos.com.br/thermo-sleep-60caps-new-millen/p" class="buy-button">Comprar</a>
    </div>

    <div class="product" id="product10">
      <img src="img/Whey Isolate.png" alt="Produto 10">
      <br><br>
      <h3>100% Whey Isolate</h3>
      <br>
      <h5>Iindicado para quem deseja emagrecer, pois possui baixo teor de carboidratos e gorduras.</h5>
      <br>
      <a href="https://www.madrugaosuplementos.com.br/100-whey-gold-isolate-720g-optimum-nutrition/p"
        class="buy-button">Comprar</a>
    </div>

    <div class="product" id="product11">
      <img src="img/100 Whey Protein.png" alt="Produto 11">
      <br><br>
      <h3>100% Whey Protein</h3>
      <br>
      <h5>Indicado para auxiliar na recuperação muscular e promover o ganho de massa magra.</h5>
      <br>
      <a href="https://www.madrugaosuplementos.com.br/100-whey-protein-909g-optimum-nutrition/p"
        class="buy-button">Comprar</a>
    </div>

    <div class="product" id="product12">
      <img src="img/ZMA.png" alt="Produto 12">
      <br><br>
      <h3>ZMA</h3>
      <br>
      <h5>Indicado para aumentar os níveis de testosterona e apoiar a recuperação muscular, especialmente em atletas.
      </h5>
      <br>
      <a href="https://www.madrugaosuplementos.com.br/zma-90caps-max-titanium/p" class="buy-button">Comprar</a>
    </div>

  </section>

  <script src="js/scriptprodutos.js"></script>
  <script>
    document.getElementById("menu-toggle").addEventListener("click", function () {
      document.getElementById("menu").classList.toggle("menu-aberto");
    });
  </script>
</body>

</html>