<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/styleInterface.css">
</head>
<body>
    <header>
        <a href="/academia/interface"><img src="/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="/academia/buscar-profissional" class="navConfig">Profissionais</a></li>
                <li><a href="/academia/gerar-aula" class="navConfig">Gerar aula</a></li>
                <li><a href="/produtos" class="navConfig">Produtos</a></li>
                <li><a href="/academia/editar-dados" class="navConfig">Editar dados</a></li>
                <li><a href="/" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="blockInterface">
            <section id="calendar" class="blocksInterface">
                <a href="/academia/agendamentos-geral"><img src="/img/calendar2.png" alt="Calendário"></a>
                <span>
                    <a href="/academia/agendamentos-geral">Agendamentos</a>
                </span>
            </section>

            <section id="gym" class="blocksInterface">
                <a href="/academia/treinos-aulas"><img src="/img/aula2.png" alt="Treinos e aulas"></a>
                <span>
                    <a href="/academia/treinos-aulas">Treinos e aulas</a>
                </span>
            </section>

            <section id="report" class="blocksInterface">
                <a href="/academia/pendencias"><img src="/img/lupa2.png" alt="Pendencias"></a>
                <span>
                    <a href="/academia/pendencias">Pendências</a>
                </span>
            </section>

            <section id="health" class="blocksInterface">
                <a href="/academia/informacoes"><img src="/img/planeta2.png" alt="Informações"></a>
                <span>
                    <a href="/academia/informacoes">Notícias</a>
                </span>
            </section>

            <section id="support" class="blocksInterface">
                <a href="https://wa.me/11993376336"><img src="/img/support2.png" alt="Suporte"></a>
                <span>
                    <a href="https://wa.me/11993376336">Suporte</a>
                </span>
            </section>

            <section id="friend" class="blocksInterface">
                <a href="/views/pages/Academia/visibilidade.html"><img src="/img/visibilidade2.png" alt="Visibilidade"></a>
                <span>
                    <a href="/views/pages/Academia/visibilidade.html">Mais visibilidade</a>
                </span>
            </section>

        </section>
    </main>
</body>
</html>