<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/styleInterface.css">
</head>
<body>
    <header>
        <a href="interfaceProfissional"><img src="/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="/pages/Profissional/buscarAluno" class="navConfig">Buscar alunos</a></li>
                <li><a href="/pages/Profissional/atividadeCriada" class="navConfig">Atividades</a></li>
                <li><a href="/pages/Profissional/relatorioCriado" class="navConfig">Relatórios</a></li>
                <li><a href="/pages/Profissional/editarDados" class="navConfig">Editar dados</a></li>
                <li><a href="/" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="blockInterface">
            <section id="calendar" class="blocksInterface">
                <a href="/profissional/agenda"><img src="/img/calendar2.png" alt="Calendário"></a>
                <span>
                    <a href="/profissional/agenda">Minha agenda</a>
                </span>
            </section>

            <section id="gym" class="blocksInterface">
                <a href="/pages/Profissional/gerarAtividade"><img src="/img/healthIcon2.png" alt="Treino"></a>
                <span>
                    <a href="/pages/Profissional/gerarAtividade">Gerar atividade</a>
                </span>
            </section>

            <section id="report" class="blocksInterface">
                <a href="/pages/Profissional/gerarRelatorio"><img src="/img/report2.png" alt="Relatórios"></a>
                <span>
                    <a href="/pages/Profissional/gerarRelatorio">Gerar relatório</a>
                </span>
            </section>

            <section id="health" class="blocksInterface">
                <a href="https://teams.microsoft.com/v2/" target="_blank"><img src="/img/play2.png" alt="Saúde"></a>
                <span>
                    <a href="https://teams.microsoft.com/v2/" target="_blank">Consultório online</a>
                </span>
            </section>

            <section id="support" class="blocksInterface">
                <a href="https://wa.me/11993376336" target="_blank"><img src="/img/support2.png" alt="Suporte"></a>
                <span>
                    <a href="https://wa.me/11993376336" target="_blank">Suporte</a>
                </span>
            </section>

            <section id="friend" class="blocksInterface">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOZgnrCptewiJvps22y9QTAd85ExkoWYshVt_EuFB7Ey5-Tg/viewform?usp=sf_link" target="_blank"><img src="/img/friend2.png" alt="Amigo"></a>
                <span>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOZgnrCptewiJvps22y9QTAd85ExkoWYshVt_EuFB7Ey5-Tg/viewform?usp=sf_link" target="_blank">Indique um amigo</a>
                </span>
            </section>

        </section>
    </main>
</body>
</html>