<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividades geradas</title>
    <link rel="stylesheet" href="/css/styleInterface.css">
</head>
<body>
    <header>
        <a href="/pages/interfaces/interfaceProfissional"><img src="/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="buscarAluno" class="navConfig">Buscar aluno</a></li>
                <li><a href="atividadeCriada" class="navConfig">Atividades</a></li>
                <li><a href="relatorioCriado" class="navConfig">Relatórios</a></li>
                <li><a href="editarDados" class="navConfig">Editar dados</a></li>
                <li><a href="/pages/index" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="title">
            <h1>Consulte suas atividades geradas</h1>
        </section>

        <section id="blockConsultUser" class="consult">
            <section id="item1" class="itemConsult">
                <h4>Treino de hipertrofia</h4>
                <p><span>Aluno(a):</span> Josué José Pontes</p>
                <p><span>Data:</span> 20/11/2024</p>
                <p><span>Horário:</span> 09:30</p>
                <section id="btnConsult">
                    <button class="btnConfig">Visualizar</button>
                    <button class="btnConfig">Editar treino</button>
                    <button class="btnConfig" type="button">Excluir</button>
                </section>
            </section>
            <section id="item3" class="notConsult">
                <h4>Não há mais atividades.</h4>
        </section>
    </main>
  
</body>
</html>