<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus agendamentos</title>
    <link rel="stylesheet" href="/css/styleInterface.css">
</head>
<body>
    <header>
        <a href="/pages/interfaces/interfaceProfissional"><img src="/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="buscarAluno" class="navConfig">Buscar aluno</a></li>
                <li><a href="atividadeCriada" class="navConfig">Atividades</a></li>
                <li><a href="relatorioCriado" class="navConfig">Relatórios</a></li>
                <li><a href="editarDados" class="navConfig">Editar dados</a></li>
                <li><a href="/pages/index" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>
    </header>

    <main>
        <section class="title">
            <h1>Buscar aluno</h1>
        </section>

        <form>
            <section>
                <label class="labelAgend" for="area">Digite o nome ou CPF do aluno</label>
                <input type="text" name="nameOrCpf" id="nameOrCpf" placeholder="Nome ou CPF do aluno">
            </section>
            <section class="btnAgend">
                <button class="btnConfig">Buscar aluno</button>
            </section>
        </form>
    </main>
  
</body>
</html>