<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar atividade</title>
    <link rel="stylesheet" href="/css/styleInterface.css">
</head>
<body>
    <header>
        <a href="/pages/interfaces/interfaceProfissional"><img src="/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="buscarAlunohtml" class="navConfig">Buscar aluno</a></li>
                <li><a href="atividadeCriada" class="navConfig">Atividades</a></li>
                <li><a href="relatorioCriado" class="navConfig">Relatórios</a></li>
                <li><a href="editarDados" class="navConfig">Editar dados</a></li>
                <li><a href="/pages/index" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="title">
            <h1>Gerar atividade</h1>
        </section>

        <form>
            <section>
                <label class="labelAgend" for="area">Especialidade</label>
                <select name="area" id="area">
                    <option id="null1" value="null">Selecione a especialidade</option>
                    <option value="Nutricionista">Nutricionista</option>
                    <option value="Personal Trainer">Personal Trainer</option>
                </select>
                <label class="labelAgend" for="name">Nome completo</label>
                <input type="text" name="name" id="name" placeholder="Digite seu nome ex: DR...">
            </section>
            <section>
                <label class="labelAgend" for="cpfAluno">CPF do aluno </label>
                <input type="text" name="cpfAluno" id="cpfAluno">
            </section>
            <section>
                <label class="labelAgend" for="treino">Prescreva a orientação ou treino:</label>
                <input type="text" name="treino" id="treino">
            </section>
            <section>
                <label class="labelAgend" for="date">Data</label>
                <input type="date" name="date" id="date">
            </section>
            <section>
                <label class="labelAgend" for="hours">Horário</label>
                <input type="time" name="" id="">
            </section>
            <section class="btnAgend">
                <button class="btnConfig">Finalizar atividade</button>
            </section>
        </form>
    </main>
  
</body>
</html>