<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buscar profissional</title>
  <link rel="stylesheet" href="/css/styleInterface.css">
</head>
<body>
  <%- include('../partials/header') %>

  <main>
    <section class="title">
      <h1>Buscar profissional</h1>
    </section>

    <form method="GET" action="/buscar-profissional">
      <section>
        <label class="labelAgend" for="area">Digite o nome ou Registro profissional</label>
        <input type="text" name="nameOrRegister" id="nameOrRegister" placeholder="Nome ou registro do profissional. Ex: CRM">
      </section>
      <section class="btnAgend">
        <button class="btnConfig">Buscar profissional</button>
      </section>
    </form>
  </main>
</body>
</html>
