<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias</title>
    <link rel="stylesheet" href="/public/css/styleHealth.css">
</head>
<body>
    <header>
        <a href="/views/pages/interfaces/interfaceAcademia.html"><img src="/public/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="buscarProfissional.html" class="navConfig">Profissionais</a></li>
                <li><a href="gerarAula.html" class="navConfig">Gerar aula</a></li>
                <li><a href="/views/pages/Produtos/indexprodutos.html" class="navConfig" target="_blank">Produtos</a></li>
                <li><a href="editarDados.html" class="navConfig">Editar dados</a></li>
                <li><a href="/views/pages/index.html" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="blockBlog">
            <section class="post">
                <h5>ESTRATÉGIAS</h5>
                <section class="titleBlog">
                    <img class="imgHealth" src="/public/img/fitness8.png" alt="Homem correndo"> 
                </section>
                <section class="contentInfo">
                    <h3>Sazonalidade e estratégias para fortalecer o segmento de academias:</h3>
                    <p>A sazonalidade é um fator comum a todo mercado e que impacta, de forma e intensidade diferentes, cada um dos setores da economia, incluindo o segmento de academias, estúdios e espaços de bem-estar. </p>
                </section>
                <a class="linkHealth" href="https://exame.com/bussola/a-sazonalidade-de-mercado-e-as-estrategias-para-fortalecer-as-academias-de-atividade-fisica/" target="_blank">Saiba mais...</a>
            </section>

            <section class="post">
                <h5>DICAS</h5>
                <section class="titleBlog">
                    <img class="imgHealth" src="/public/img/fitness6.png" alt="Atividade fisica"> 
                </section>
                <section class="contentInfo">
                    <h3>Estimular a atividade física entre os colaboradores aumenta a produtividade:</h3>
                    <p>Para o recrutamento de candidatos de alta performance e manutenção deles na equipe, torna-se essencial que a empresa ofereça benefícios que vão além dos direitos estabelecidos por lei. Pense na vida do colaborador de forma integral, principalmente na qualidade de vida.</p>
                </section>
                <a class="linkHealth" href="https://exame.com/bussola/estimular-a-atividade-fisica-entre-os-colaboradores-aumenta-a-produtividade/" target="_blank">Saiba mais...</a>
            </section>

            <section class="post">
                <h5>ESTRATÉGIAS</h5>
                <section class="titleBlog">
                    <img class="imgHealth" src="/public/img/fitness4.png" alt="Crescimento mercado fitness"> 
                </section>
                <section class="contentInfo">
                    <h3>Mercado fitness deve continuar crescendo:</h3>
                    <p>Com influencers digitais e mais acesso a informações sobre saúde e bem-estar, o mercado de produtos fitness tem crescido a todo vapor</p>
                </section>
                <a class="linkHealth" href="https://centraldovarejo.com.br/exclusiva-mercado-fitness-deve-continuar-crescendo/" target="_blank">Saiba mais...</a>
            </section>

            <section class="post">
                <h5>DICAS</h5>
                <section class="titleBlog">
                    <img class="imgHealth" src="/public/img/fitness2.png" alt="Mercado fitness"> 
                </section>
                <section class="contentInfo">
                    <h3>Mercado fitness - evolução, desafios e tendências para 2024: </h3>
                    <p>Um dos setores que mais cresceu na   última década foi o mercado fitness.
                   </p>
                </section>
                <a class="linkHealth" href="https://estimanutricao.com.br/orientacao-para-doencas-autoimunes-uma-abordagem-nutricional-para-o-bem-estar/" target="_blank">Saiba mais...</a>
            </section>
        </section>
    </main>
</body>