<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendências</title>
    <link rel="stylesheet" href="/css/styleInterface.css">
</head>
<body>
    <header>
      <a href="/academia/interface"><img src="/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
      <nav id="menu">
        <ul>
          <li><a href="/academia/buscar-profissional" class="navConfig">Profissionais</a></li>
          <li><a href="/academia/gerar-aula" class="navConfig">Gerar aula</a></li>
          <li><a href="/produtos" class="navConfig">Produtos</a></li>
          <li><a href="/academia/editar-dados" class="navConfig">Editar dados</a></li>
          <li><a href="/" class="navConfig">Sair</a></li>
        </ul>
      </nav>
    </header>

    <main>
        <section class="title">
            <h1>Verificar pendências</h1>
        </section>

        <form action="/pendencias" method="GET">
            <section id="pendingBlock">
                <label id="labelPending" for="search">Digite o nome ou CPF do aluno</label>
                <input type="text" name="search" id="search" placeholder="Nome ou CPF do aluno">
                <button id="btnPending">Buscar aluno</button>
            </section>
        </form>

        <section id="blockConsultUser" class="consult">
            <section class="itemConsult">
                <h4>Tipo de Pendência</h4>
                <p><span>Nome(a):</span> Nome do Aluno</p>
                <p><span>Plano:</span> Nome do Plano</p>
                <p><span>Situação:</span> Pendente</p>
                <p><span>Pendências:</span> Descrição da pendência</p>
                <p><span>Data:</span> 10/06/2025</p>
                <p><span>Horário:</span> 10:00</p>

                <section id="btnConsult">
                    <button class="btnConfig">Visualizar perfil</button>
                    <button class="btnConfig" type="button">Editar</button>
                </section>
            </section>

            <section class="notConsult">
                <h4>Não há mais agendamentos.</h4>
            </section>
        </section>
    </main>
</body>
</html>
