<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mais visibilidade</title>
    <link rel="stylesheet" href="/public/css/styleInterface.css">
</head>
<body>
    <header>
        <a href="/views/pages/interfaces/interfaceAcademia.html"><img src="/public/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="buscarProfissional.html" class="navConfig">Profissionais</a></li>
                <li><a href="gerarAula.html" class="navConfig">Gerar aula</a></li>
                <li><a href="/views/pages/Produtos/indexprodutos.html" class="navConfig" target="_blank">Produtos</a></li>
                <li><a href="editarDados.html" class="navConfig">Editar dados</a></li>
                <li><a href="/views/pages/index.html" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 id="h1Text">Preencha o formulário e concorra ao sorteio</h1>

        <section class="blockText">
            <p>Ao preencher o formulário, sua academia concorre ao sorteio de uma ação publicitária durante 2 mesês.</p>
        </section>

        <h3 id="h3Text">Vantagens de participar:</h3>

        <section>
            <ul>
                <li class="blockText"><span class="configText">Exposição Nacional:</span> Sua academia será promovida em uma plataforma acessada por pessoas de diversas regiões, o que aumenta significativamente o alcance da sua marca. Não importa onde você esteja, a Gymtri conecta você a alunos em potencial próximos à sua localização.</li>
                <li class="blockText"><span class="configText">Avaliações e Feedbacks:</span> As avaliações dos alunos ajudam a aumentar sua credibilidade online. Uma academia bem avaliada atrai mais clientes, e com a Gymtri, você pode coletar avaliações facilmente, o que também contribui para o fortalecimento da sua reputação.</li>
                <li class="blockText"><span class="configText">Redes Sociais e Conexões:</span> A Gymtri facilita a integração com suas redes sociais, ampliando ainda mais a visibilidade da sua academia. Potenciais alunos podem ver seus posts, interagir com sua marca e, dessa forma, aumentar sua base de seguidores e clientes.</li>
            </ul>
        </section>

        <section >
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeu-_yfE6kMdUWhBn46Ux3TybnWK1O9ZjPN2N5qAYWDxNYZZw/viewform?usp=sf_link" target="_blank"><button class="btnConfig" type="button">Preencher formulário</button></a>
        </section>
    </main>
</body>
</html>



